*{
  margin: auto;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f4f7;
  position: relative;
  width: 1440px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 586px;
  height:32px;
  gap: 40px;
}

.navbar-logo {
  width: 142px;
  height: 32px;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  color: #475467;
  background: none;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
}

.nav-link:hover {
  color: #1d4ed8;
}


.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.dropdown-icon {
  width: 12px;
  height: 12px;
}


.dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 14px;
  color: #475467;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
  color: #1d4ed8;
}


.navbar-right {
  display: flex;
  align-items: center;
}

.side-navbar-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}


.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.side-navbar.open {
  transform: translateX(0);
}

.close-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: #475467;
  align-self: flex-end;
  cursor: pointer;
}


@media screen and (max-width: 375px) {
  .navbar-left {
    display: none;
  }

  .navbar-right {
    display: block;
  }
}


.hero {
  text-align: center;
  padding: 40px 20px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  width: 1440px ;
  height: 1032px;
  padding: 96px 0px 0px 0px;
  gap: 64px;
  margin-bottom: 0px !important;
  margin: auto;
}

.hero-intro{
  width: 1216px;
  height: 312px;
  gap: 48px;
  margin: auto;
}

.hero-top-bar {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 350px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 32px;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #E9D7FE;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
}

.new-feature {
  background-color: #eaeaff;
  color: #6941C6;
  font-size: 14px;
  font-weight: 500px;
  padding: 5px 10px;
  border: 1px solid #D6BBFB;
  border-radius: 20px;
  cursor: pointer;
  line-height: 20px;
}

.check-dashboard {
  font-size: 14px;
  color: #6941C6;
  text-decoration: none;
  font-weight: 500px;
  line-height: 20px;
}

.hero-title {
  font-size: 60px;
  font-weight: 600px;
  color: #101828;
  margin-bottom: 10px;
  width: 1024px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  margin: auto;
}

.hero-description {
  color: #475467;
  margin: 0 auto 30px;
  width: 768px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

}

.hero-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  width: 277px;
  height:60px;
  gap: 12px;
  margin: auto;
}

.demo-btn {
  background-color: transparent;
  border: 1px solid #D0D5DD;
  color: #344054;
  font-size: 18px;
  font-weight: 600px;
  line-height: 28px;
  border-radius: 8px;
  cursor: pointer;
  width: 143px ;
  height: 60px ;
  padding: 16px 28px 16px 28px;
  gap: 12px;
  position: relative;
}

.demo-icon{
  width: 20px;
  height: 20px;
  left: 25px;
  position: absolute;
  margin: 0 auto;
}

.signup-btn {
  background-color: #7F56D9;
  color: #ffffff;
  cursor: pointer;
  width: 122px;
  height: 60px;
  padding: 16px 28px 16px 28px;
  gap: 12px;
  border-radius: 8px;
  border: 1px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;

}

.hero-image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 1280px;
  height: 560px;
  padding: 0px 32px 0px 32px;
  gap: 32px;
  position: relative;
  margin: auto;
}

.hero-image {
  width: 1216px;
  height: 560px;
  border-radius: 12px;
  border-left: 8px solid #101828;
  border-right: 8px solid #101828;
  border-top: 8px solid #101828;
}

.sponsers{
  width: 1440px;
  height: 296px;
  background-color: #ffffff;
  position: absolute;
  top: 400px;
  margin: auto;
}

.sponsers-container{
  width: 1280px;
  height: 104px;
  gap: 32px;
  opacity: 0px;
  margin: auto;
  margin-top: 100px !important;
}

.sponser-content{
  padding: 0px 32px 0px 32px;
  gap: 32px;
  width: 1216px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.sponsers-icon{
  width: 1216px;
  height: 48px;
  justify-content: space-between;
}

.sponser-image{
  width: 166px;
  height: 48px;
  padding: 2px 0.74px 2px 0px;
  gap: 22px;
  margin: 0px 20px 0px 0px !important;
  align-items: center;
  justify-content: center;
}



.features-container {
  text-align: center;
  background-color: #FFFFFF !important;
  width: 1440px;
  height: 836px;
  padding: 96px 0px 96px 0px;
  gap: 64px;
}

.features-img{
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
  padding: 2px 1.89px 2px 2px;
}

.feature-intro{
  width: 1280px;
  height: 160px;
  padding: 0px 32px 0px 32px;
  gap: 32px;
  margin-bottom: 40px !important;
  justify-content: center;
  align-items: center;
}

.feature-intro h2 {
  color: #101828;
  margin-bottom: 0.5rem;
  width: 768px;
  height: 44px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
}

.feature-intro .features{
  width: 768px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #6941C6; 
}

.feature-intro .features-content{
  width: 768px;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #475467; 
}

.features-container p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  height: 420px;
  padding: 0px 32px 0px 32px;
  gap: 64px;
}

.feature-card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 384px;
  height: 178px;
  gap: 20px;
}

.feature-img-card{
  width: 48px;
  height: 48px;
  padding: 12px 0px 0px 0px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 2rem;
  color: #4CAF50;
  margin-bottom: 1rem;
}

.feature-card h3 {
  color: #101828;
  margin-bottom: 1.8rem !important;
  width: 384px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.feature-card p {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.features-testimonial-container {
  text-align: center;
  background-color: #f9f9f9;
  width: 1280px;
  height: 360px;
  padding: 0px 32px 0px 32px;
  gap: 32px;
  margin: auto;
  margin-bottom: 1200px !important;
}

.logomark{
  width: 140px;
  height: 40px;
  padding: 0px 0.72px 0px 0px;
  margin-bottom: 2rem !important;
}

.testimonial-section h2 {
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.5;
  width: 1216px;
  height: 120px;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1216px;
  height: 136px;
  gap: 16px;
}

.author-image img{
  margin-bottom: 0.5rem !important;
  width: 64px;
  height: 64px;
  border-radius: 200px 0px 0px 0px;
  opacity: 0.08px;
}

.testimonial-author .testinominal-profile{
  color: #101828;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.testinominal-author p {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}


.testinominal-container{
  width:1440px;
  height: 1100px;
  padding: 96px 0px 0px 0px;
}

.testinominal-content{
  width: 768px;
  height:168px;
  gap: 20px;  
  margin: auto !important;
  align-items: center;
  justify-content: center;
}

.testiminal-features{
  width: 83px;
  height: 28px;
  padding: 4px 12px 4px 12px;
  border-radius: 16px;
  border: 1px solid #E9D7FE;
  color:#6941C6;
}

.testiminal-features p{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.testinominal-content h3{
  width: 768px;
  height: 44px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #101828;
}

.testiminal-features-content{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #475467;
}

.testinominal-images{
  width: 1280px;
  height: 876px;
  padding: 0px 32px 0px 32px;
  position: relative;
}

.testinominal-image-desktop{
  width: 768px;
  height: 512px;
  left: 272px;
  border-radius: 10px 0px 0px 0px;
  border: 4px solid #101828;
}

.testinominal-image-mobile{
  position: absolute;
  width: 244px;
  height: 497px;
  top: 64px;
  left: 152px;
}

.testinominal-features-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  width: 1216px;
  height: 222px;
  gap: 32px;
}

.testinominal-feature-card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 384px;
  height: 222px;
  gap: 20px;
}

.learn-more p{
  width: 116px;
  height:24px;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #6941C6;
}

.faq-section {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 1440px;
  height: 800px;
  padding: 96px;
  gap: 64px;
}

.faq-intro{
  width: 768px;
  height: 94px;
  padding: 0px 32px 0px 32px;
  gap: 32px;
}

.faq-intro h3 {
  color: #101828;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
}

.faq-section p {
  color: #475467;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.faq-container{
  width: 768px;
  height: 504px;
  gap: 32px;
}

.faq-item {
  margin-bottom: 1rem !important;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 768px;
  position: relative;
}


.faq-item:hover {
  background-color: #f9f9f9;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #101828;
  width: 720px;
  height: 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.faq-answer {
  margin-top: 0.5rem !important;
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 720px;
  height: 48px;
}


.faq-icon{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 7px;
  border: 2px solid #98A2B3;
  border-radius: 10px;
  color: #98A2B3;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.faq-img-container{
  width: 1216px;
  height: 298px;
  padding: 32px;
  border-radius: 16px ;
}

.faq-img{
  width: 120px;
  height: 56px;
  margin-bottom: 20px !important;
}

.faq-content{
  width: 768px;
  height: 66px;
}

.faq-content .faq-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #101828 !important;
}

.faq-content .faq-contents{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #475467;
}

.faq-content button{
  width: 160px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: 1px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background-color: #6941C6;
  color: #d0d5dd;
  margin-left: 300px !important;
  margin-top: 25px !important;
  align-items: center;
  justify-content: center;
}

.blog-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f9f9f9;
  width: 1216px;
  height: 444px;
  gap: 32px;
  margin-bottom: 150px !important;
}

.blog-container {
  width: 384px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 544px;
}

.blog-image {
  width: 384px;
  height: 240px;
  object-fit: cover;
}

.blog-category {
  font-size: 14px;
  color: #6c63ff;
  text-transform: uppercase;
  font-weight: 600px;
  line-height: 20px;
}

.blog-title {
  font-size: 24px;
  font-weight: 600px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #101828;
}

.arrow-icon {
  width: 24px;
  height: 24px;
}

.blog-description {
  font-size: 16px;
  color: #475467;
  font-weight: 400px;
  line-height: 24px;
  padding: 7px;
}

.blog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 140px;
  margin: 0; 
  padding-left: 7px;
  padding-bottom: 7px; 
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 4px; 
}

.author-name {
  font-size: 14px;
  font-weight: 600; 
  line-height: 20px;
  text-align: left;
  color: #101828;
  margin: 0; 
}

.blog-date {
  font-size: 14px;
  font-weight: 400; 
  line-height: 20px;
  text-align: left;
  color: #475467;
  margin: 0;
}


.footer-section {
  text-align: center;
  width: 1280px;
  height: 240px;
  padding: 0px 32px 0px 32px;
  gap: 48px;
}

.trial-section {
  margin-bottom: 40px;
  height: 182px;
  padding: 0px 32px 0px 32px;
  gap: 32px;
}

.trial-heading {
  font-size: 36px;
  font-weight: 600;
  color: #101828;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
}

.trial-subheading {
  color: #666;
  margin: 10px 0 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.trial-buttons .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  width: 269px;
  height: 48px;
  gap: 12px;
}

.learn-more {
  background-color: transparent;
  color:#101828;
  width: 128px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
}

.get-started {
  background-color: #6c63ff;
  color: white;
  width: 129px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  width: 1280px;
  height: 240px;
  padding: 0px 32px 0px 32px;
}

.link-column {
  flex: 1;
  min-width: 176px;
  margin: 10px;
  gap: 16px;
}

.link-column h4 {
  font-size: 14px;
  font-weight: 600px;
  margin-bottom: 10px;
  line-height: 20px;
  text-align: left;
  color: #667085;
}

.link-column ul {
  list-style: none;
  padding: 0;
}

.link-column li {
  color: #475467;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  text-align: left;
}

.new-badge {
  background-color: #ABEFC6;
  color: #067647;
  font-size: 12px;
  margin-left: 5px;
  width:42px;
  height: 22px;
  padding: 2px 8px 2px 8px;
  border-radius: 16px;
  border: 1px;
}

.footer-bottom {
  font-size: 14px;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0px 0px 0px;
}

.brand-logo {
  width: 142px;
  height: 32px;
}

.copyright {
  width: 293px;
  height: 24px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  text-align: left;
  color: #667085;
}


